<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/wheel.css">
</head>


<body style="background-color: #2C2F33;">
    <div>
        <center>
            <h1>
                NMS- Life Skills Wheel
            </h1>
            <div id="chart">

            </div>

            <div id="question">
                <h1></h1>
            </div>
        </center>
    </div>
    <div>
        <footer>
            <p>
                <font color="#d3d3d3" size="0.5">Work By Amitoj Singh,Adam Alvares <br>View the source code here: <a
                        href="https://storage.sikhsaakhi.com">https://storage.sikhsaakhi.com</a></font>
            </p>
        </footer>
    </div>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/wheel.js" charset="utf-8"></script>

</body>

</html>