:root {
    color: white;
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    pointer-events: none;
    color: #99AAB5;
    text-decoration-color: #99AAB5;
}

#chart {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
}

#question {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 0;
    left: 520px;
}

#question h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}